AI/mnist-model/output.png
AI/mnist-model/MNIST/*
*.pk.gz
AI/totorial/data

#launch.json folder
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Docker
*.log
docker-compose.override.yml

# General
*.swp
*.swo
.DS_Store
*.bak
*.tmp
*.temp
*.old
*.orig
*.rej