AI/mnist-model/output.png
AI/mnist-model/MNIST/*
*.pk.gz
AI/totorial/data

# Ignore MNIST dataset files
AI/mnist-model/MNIST/

# Ignore Jupyter Notebook checkpoints
**/.ipynb_checkpoints

# Ignore model weights and checkpoints
AI/mnist-model/checkpoints/
AI/mnist-model/*.pth
AI/mnist-model/*.pt

#launch.json folder
.vscode/

# Ignore logs
*.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Docker
docker-compose.override.yml

# General
*.swp
*.swo
.DS_Store
*.bak
*.tmp
*.temp
*.old
*.orig
*.rej

# Ignore temporary files created by editors
*.~ 

# Ignore virtual environment directories
venv/
ENV/
env/
.venv/
.env/

# Ignore compiled Python files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore system files
.DS_Store
Thumbs.db